div {
	font-weight: bold;
	font-size:50px;
}
#black {
	color:black;
}
#white {
	color:white;
}
#brown {
	color:brown;
}
#orange{
	color:orange;
}
#grey {
	color:grey;
}
#yellow {
	color:yellow;
}
#red {
	color:red;
}
#green {
	color:green;
}